<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='grafana.control.panel.css') }}">
</head>

<div id="state">Automation State:</div>
<button id="cycle">Cycle</button>
<button id="warmup" type="button" id="warmup">Warmup</button>
<button id="cooldown" type="button" id="cooldown">Cooldown</button>
<button id="stop" type="button" id="stop" class="stop_btn">Stop</button>
<hr style="margin-top:2pt;margin-bottom:2pt">

<div>Advanced Automation</div>
<input type="radio" id="NONE" name="advAuto" value="NONE" style="margin-left:4px">
  <label for="NONE">None</label>
<input type="radio" id="RECYCLE" name="advAuto" value="RECYCLE">
  <label for="RECYCLE">Auto-Recycle</label>
<input type="radio" id="THERMALIZE" name="advAuto" value="THERMALIZE">
  <label for="THERMALIZE">Auto-Thermalize</label>
<hr style="margin-top:2pt;margin-bottom:2pt">

<div>Heat Switches</div>
<button type="button" id="HS_pump" title='TURN ON'>Pump Switch</button>
<button type="button" id="HS_1k" title='TURN ON'>1K Switch</button>

<hr style="margin-top:2pt;margin-bottom:2pt">
<div style="text-align:right;"><a>Settings</a></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript">
var subroutines = ["NONE","RECYCLE","THERMALIZE"]
var switches = {"1k_hs":"HS_1k","pump_hs":"HS_pump"};
var switchStates = {"1k_hs":false,"pump_hs":false};
function updateStates(){
  $.getJSON("/flask/get/state", function(result){
    document.getElementById("state").innerHTML="Automation State: "+result.state+' ('+result.subroutine+')';
    if(subroutines.includes(result.subroutine)){
      document.getElementById(result.subroutine).checked = true;
    }
  });
  $.getJSON("/flask/get/switches", function(result){
    $.each(result, function(key, val){
      if(key in switches){
        if(val){
          document.getElementById(switches[key]).className="button on_btn";
          document.getElementById(switches[key]).title='TURN OFF';
        }else{
          document.getElementById(switches[key]).className="button";
          document.getElementById(switches[key]).title='TURN ON';
        }
        switchStates[key]=val;
      }
    });
  });
}
function setSwitch(name){
  $.ajax({
    method: 'POST',
    url: "/flask/set/switch",
    data: {"name":name,"value":!switchStates[name]}
  }).done(function(data){
    updateStates();
  });
}
function setState(name){
  $.ajax({
    method: 'POST',
    url: "/flask/set/automation/state",
    data: {"state":name}
  }).done(function(data){
    updateStates();
  });
}
function setSubroutine(name){
  $.ajax({
    method: 'POST',
    url: "/flask/set/automation/subroutine",
    data: {"subroutine":name}
  }).done(function(data){
    updateStates();
  });
}

$(document).ready(function(){
  updateStates();
});

$("#HS_pump").on("click",function(){setSwitch("pump_hs");});
$("#HS_1k").on("click",function(){setSwitch("1k_hs");});
$("#cycle").on("click",function(){setState("START");});
$("#warmup").on("click",function(){setState("WARMUP");});
$("#cooldown").on("click",function(){setState("COOLDOWN");});
$("#stop").on("click",function(){setState("STOP");});

$("input[name=advAuto]:radio").change(function(){setSubroutine($(this).val());});
</script>
