<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='chriddyp.css') }}">
    <head>
        {% if title %}
        <title>Breton - {{ title }}</title>
        {% else %}
        <title>Breton</title>
        {% endif %}
    </head>
    <body>
        <div>Breton: <a href="{{ url_for('control') }}">Control</a>  <a href="{{ url_for('status') }}">Status</a>  <a>Settings</a>
             (Refresh: 5s)</div>
        <hr style="margin-top:0;margin-bottom:0">
        <h1>Fridge {{ title }}</h1>
        {% block content %}{% endblock %}
    </body>
</html>
